@import 'bootstrap/dist/css/bootstrap';

#logo{
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  }

.jumbotron{
  background-image: asset-url('atm-card.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 425px;

  }  

#home-container {
  margin-top: 25px;
}

.btn{
  margin-right: 15px;
}

.container-card{
  margin-bottom: 50px;
}

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background-color: rgb(199, 255, 255);
}

#sticky-footer {
  flex-shrink: none;
}

.table {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}