  <center>
  <h3>Transactions</h3>
    <table border="1">
      <tr>
        <th>Date</th>
        <th>Amount</th>
        <th>Type</th>
      </tr>
      <% @transactions.each do |transaction| %>
        <tr>
          <td><%= transaction.created_at %></td>
          <td><%= transaction.amount %></td>
          <td><%= transaction.tr_action %></td>
        </tr>
            
      <% end %>
    </table>
  </center>