<h1>Account Details</h1>
<p><strong>Account No.: </strong> <%= @account.account_no %> </p>
<p><strong>Type: </strong> <%= @account.account_type %> </p>
<p><strong>Balance: </strong> <%= @account.balance %> </p>