<h1>Account Details</h1>
<%= link_to "Transaction details", user_account_transactions_path(user_id: current_user.id, account_id: @account.id) %>
<%= link_to "Deposit Amount", new_user_account_transaction_path(user_id: current_user.id, account_id: @account.id, tr_action: "credit") %>
<%= link_to "Withdraw Amount", new_user_account_transaction_path(user_id: current_user.id, account_id: @account.id, tr_action: "debit") %>


